.side-bar
  .side-bar__user-name
    .side-box
      .side-box__user-login
        ume
      .side-box__contents
        .contents__left
        = link_to "#", class: "contents-left" do
          = icon('far fa-edit',  class: "contents-left")
        .contents__right
        = link_to "#", class: "contents-right" do
          = icon('fas fa-cog',  class: "contents-right")

  .side-bar__group-list
    .group-block
      .group-block__name
        techcamp
      .group-block__text
        no text
  

  